<html lang='en'>
<head>
    <meta charset='utf-8'>
    <link rel='stylesheet' href='../static/style.css'>
    <script src='../static/client.js'></script>
	<title>The Sky Above - A Multiclass Deep Learning Cloud Detector by Vedran Grcic</title>
</head>
<body>
<div>
    <div class='center'>
        <div class='title'>The Sky Above - A Multiclass Deep Learning Cloud Detector</div>
		<p>ResNet50, 10 base classes, multiclass, 90% accuracy. Using fastai deep learning library.</p>
        <p>
            by <a href="https://twitter.com/vedrangrcic?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-count="false">Follow @VedranGrcic</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </p>
        <div class='content'>
            <div class='no-display'>
                <input id='file-input'
                       class='no-display'
                       type='file'
                       name='file'
                       accept='image/*'
                       onchange='showPicked(this)'>
            </div>
            <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
            <div class='upload-label'>
                <label id='upload-label'>No file chosen</label>
            </div>
            <div>
                <img id='image-picked' class='no-display' alt='Chosen Image' height='200'>
            </div>
            <div class='analyze'>
                <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
            </div>
            <div class='result-label'>
                <label id='result-label'></label>
            </div>
        </div>
    </div>
</div>
</body>
</html>
